<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner mainImage" role="listbox">
    <!-- <div class="item active"> -->
      <img src="assets/images/clouds.jpg" alt="...">
      <div class="carousel-caption mainTitle">
        <img class="mainlogo" src="assets/images/dream_logo.png" alt="">
        <h1>{{currentUser.firstName}}, are you sure <br> you want to log out?</h1>
        <button type="button" (click)='logMeOutPls()' class="btn btn-primary btn-lg btn-block">Yes, log me out</button>

      </div>

    <!-- </div> -->

  </div>
