<!--

<div class="carousel-inner mainImage" role="listbox">

<div class="container">


    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let oneGift of giftArray">
        <div class="thumbnail">
          <img [src]="oneGift.image" alt="...">
          <div class="caption">
            <h3>{{oneGift.name}}</h3>
            <h3>${{oneGift.price}}</h3>
            <p>{{oneGift.description}}</p>
            <p><a href="#" class="btn btn-primary" (click)=detailGift(oneGift._id) role="button">Details</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <img class="backgroundImage" src="assets/images/background.jpg" alt="...">

</div> -->


<section class="bottom">
  <div *ngFor="let oneGift of giftArray" id="resultsSection" class="container marketing" >

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette heading">{{oneGift.name}}</h2>
          <h2 class="featurette heading">Price: ${{oneGift.price}}</h2>
          <p class="lead">Sku: {{oneGift.sku}}</p>
          <p class="lead">Decription: {{oneGift.description}}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{oneGift.image}}"  alt="" data-holder-rendered="true">
        </div>

      <!-- <div class="col-sm-5"> -->

        <!-- <button type="button" class="btn btn-primary btn-lg btn-block dreamList" (click)='addProduct(product)'>ADD TO MY <img class="imgButton" src="assets/images/dream_logo_crop.png" alt="..."/></button> -->
      <!-- </div> -->


      </div>
  </div>
    <hr class="featurette-divider">

</section>
