<section>
  <div *ngFor="let product of productResults" class="container marketing" >

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette heading">{{product.name}}</h2>
          <p class="lead">Sku: {{product.sku}}</p>
          <p class="lead">Price: {{product.salePrice}}</p>
          <p class="lead">Decription: {{product.longDescription}}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{product.image}}" alt="" data-holder-rendered="true">
        </div>


        <button type="button" class="btn btn-primary btn-lg btn-block dreamList">ADD TO MY <img class="imgButton" src="assets/images/dream_logo_crop.png" alt="..."/></button>


      </div>
  </div>
    <hr class="featurette-divider">

</section>



<div class="container marketing">

  <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette heading">Hello</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="assets/images/gift01.jpg" alt="500x500" data-holder-rendered="true">
  </div>

</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 col-md-push-5">
  <h2 class="featurette heading">Hello</h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>
<div class="col-md-5 col-md-pull-7">
  <img class="featurette-image img-responsive center-block" src="assets/images/gift03.jpg" alt="500x500" data-holder-rendered="true">
</div>

</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette heading">Hello</h2>
  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>
<div class="col-md-5">
  <img class="featurette-image img-responsive center-block" src="assets/images/wishes.jpg" alt="500x500" data-holder-rendered="true">
</div>

</div>

</div>
