.firstImage{
  padding-top: 30px;
  margin-left: -18px;
  height: 1000px;
  position: absolute;
  z-index: -1;
}

.top{
  height: 920px;
}

.form-horizontal{
  margin-top: 100px;
  width: 600px;
  background-color: rgba(248,248,248, 0.8);
  border-radius: 10px;
  margin-left: 100px;
  /*border: solid black;*/

}

.form-group{
  padding-left: 20px;
  padding-right: 20px;
}


.signin{
  padding-bottom: 20px;
}

.signup{
  margin-top: 50px;
}

h3{
  padding: 10px 0 0 10px;
}
