<div class="container-fluid top">

    <img class="firstImage" src="assets/images/gift01.jpg" alt="...">

    <form class="form-horizontal" (ngSubmit)='doLogin()'>
      <h3>LOG IN</h3>
      <p *ngIf="loginErrorMessage" class='error'>{{loginErrorMessage}}</p>
      <div class="form-group">
        <label for="login-email-input" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="login-email-input" placeholder="Email"
                [(ngModel)]="loginEmail" name="loginEmail">
        </div>
      </div>
      <div class="form-group">
        <label for="login-password-input" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="login-password-input" placeholder="Password"
                [(ngModel)]="loginPassword" name="loginPassword">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group signin">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>

    <form class="form-horizontal signup" (ngSubmit)='doSignUp()'>
      <h3>SIGN UP</h3>
      <p *ngIf="errorMessage" class='error'>{{errorMessage}}</p>
      <div class="form-group">
        <label for="name-input" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name-input" placeholder="First Name"
            [(ngModel)]='firstNameValue' name='firstNameValue'>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName-input" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName-input" placeholder="Last Name"
            [(ngModel)]='lastNameValue' name='lastNameValue'>
        </div>
      </div>
      <div class="form-group">
        <label for="birthday-input" class="col-sm-2 control-label">BirthDate</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="birthday-input" placeholder=""
            [(ngModel)]='birthdayValue' name='birthdayValue'>
        </div>
      </div>
      <div class="form-group">
        <label for="email-input" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email-input" placeholder="Email"
            [(ngModel)]='emailValue' name=emailValue>
        </div>
      </div>
      <div class="form-group">
        <label for="password-input" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password-input" placeholder="Password"
            [(ngModel)]='passwordValue' name=passwordValue>
        </div>
      </div>
      <div class="form-group signin">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>

</div>
