<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner mainImage" role="listbox">
    <!-- <div class="item active"> -->
      <img src="assets/images/gift03crop.jpg" alt="...">

      <div class="carousel-caption mainTitle">

      </div>


  </div>

</div>

<div class="container buttons">
  <div class=col-sm-2>

  </div>
  <div class="col-sm-8">
      <p class="greeting">Hello, {{currentUser.firstName}}!</p>
      <a type="button" class="btn btn-success btn-lg btn-block" onClick="document.getElementById('searchSection').scrollIntoView('searchSection')">Search for your Gift</a>

    <a type="button" class="btn btn-default btn-lg btn-block" onClick="document.getElementById('createSection').scrollIntoView('createSection')">Create your Gift</a>
    </div>
  <div class=col-sm-2>

  </div>
</div>


<!-- SEARCH SECTION -->
<div class="container-fluid top" id="searchSection">

    <img class="firstImage" src="assets/images/gift01.jpg" alt="...">

  <div class="backButtonDiv">
    <button type="button" class="btn btn-default btn-lg backButton" onClick="document.getElementById('carousel-example-generic').scrollIntoView('carousel-example-generic')">GO BACK</button>

  </div>



    <form class="form-horizontal" (ngSubmit)='fetchList(searchWord)'>
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="formGroupInputLarge">Search:</label>
    <div class="col-sm-7">
      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="What is your dream gift?"
              [(ngModel)]='searchWord' name="searchWord">

    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-info" onClick="document.getElementById('resultsSection').scrollIntoView('resultsSection')" (click)='fetchList(searchWord)'>find it</button>
    </div>
    <div class="col-sm-1">
      <img class="bestbuy" src="assets/images/best-buy.png" alt="">
    </div>
  </div>

</form>

</div>

<!-- CREATE YOUR GIFT SECTION -->

<div class="container-fluid top" id="createSection">

    <img class="secondImage" src="assets/images/present.jpg" alt="...">


    <div class="backButtonDiv">
      <button type="button" class="btn btn-default btn-lg backButton" onClick="document.getElementById('carousel-example-generic').scrollIntoView('carousel-example-generic')">GO BACK</button>

    </div>

    <form class="form-horizontal createGift" (ngSubmit)="createGift()">
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="product-name-input">Name:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="product-name-input"id="formGroupInputLarge" placeholder="Name of your gift"
              [(ngModel)]='giftName' name="giftName">

    </div>
  </div>
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="product-name-input">Type:</label>
      <div class="col-sm-9">
      <select class="form-control" name="giftType" id="formGroupInputLarge" [(ngModel)]="giftType">
        <option value="NON">Select</option>
        <option value="Trip">Trip</option>
        <option value="Good">Good</option>
      </select>

    </div>
  </div>
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="product-price-input">Price:</label>
      <div class="col-sm-9">
        <input class="form-control" type="number" id="product-price-input"id="formGroupInputLarge" placeholder="Price of your gift"
               [(ngModel)]="giftPrice" name="giftPrice">

    </div>
  </div>
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="product-description-input">Descript:</label>
      <div class="col-sm-9">
        <textarea class="form-control" type="text" id="product-description-input"id="formGroupInputLarge" placeholder="In a few words describe your gift"
              [(ngModel)]='giftDescription'  name="giftDescription"></textarea>

    </div>
  </div>
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" id="search" for="product-description-input">Img Url:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="product-description-input"id="formGroupInputLarge" placeholder="Insert Image Url"
              [(ngModel)]='giftImage' name="giftImage">

    </div>
  </div>
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <button type="button" class="btn btn-info btn-lg btn-block createDreamList" (click)='createGift()'>Create<img class="imgButton" src="assets/images/dream_logo_crop.png" alt="..."/></button>
  </div>

</form>

</div>

<!-- RESULTS SECTION -->
<div >

</div>

<section class="bottom">
  <div *ngFor="let product of productResults" id="resultsSection" class="container marketing" >

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette heading">{{product.name}}</h2>
          <h2 class="featurette heading">Price: ${{product.salePrice}}</h2>
          <p class="lead">Sku: {{product.sku}}</p>
          <p class="lead">Decription: {{product.longDescription}}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{product.image}}"  alt="" data-holder-rendered="true">
        </div>

      <!-- <div class="col-sm-5"> -->

        <button type="button" class="btn btn-primary btn-lg btn-block dreamList" (click)='addProduct(product)'>ADD TO MY <img class="imgButton" src="assets/images/dream_logo_crop.png" alt="..."/></button>
      <!-- </div> -->


      </div>
  </div>
    <hr class="featurette-divider">

</section>
