.mainImage{
  height: 750px;
  /*position: absolute;*/
}

h1{
  font-size: 130px;
  top: 10%;
  font-family: geneva;
  color: MEDIUMSEAGREEN;
  background-color: rgba(248,248,248, 1);
  border-radius: 10px;
}
p{
  font-size: 50px;
  background-color: rgba(248,248,248, 1);
  border-radius: 10px;
  color: black;
}

.carousel-caption{
  top:20%
}

.mainTitle{
  top: 20%;
}

.carousel-inner{
  /*height: 700px;*/
}

.container-fluid{
  /*height: 350px;
  border: solid black;*/
  /*object-fit: scale-down;*/
}

.how{
  height: 700px;
}
.col-sm-4{
  height: 300px;
  border: solid black;
}
.top{
  height: 700px;
}
.firstImage{
  padding-top: 30px;
  margin-left: -18px;
  height: 854px;
}
.down{
  top: 50%;
}
