h1{
  font-size: 130px;
  top: 10%
}
p{
  font-size: 50px;
  background-color: lightgray;
}

.carousel-caption{
  top:50%
}

.carousel-inner{
  /*height: 700px;*/
}

.container-fluid{
  height: 350px;
  border: solid black;
  /*object-fit: scale-down;*/
}
.col-sm-4{
  height: 300px;
  border: solid black;
}
.top{
  height: 700px;
}
.firstImage{
  padding-top: 30px;
  margin-left: -18px;
  height: 854px;
}
